.date {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    color: #363636;
    opacity: 0.6;
}
.btn {
    min-width: 1px !important; // I know that it is not goog idea to use important, but I tried everything and with out it - does not work!
    position: relative;
    span {
        position: absolute;
            left: 0px;
        svg {
            width: 12px;
            padding: 0;
        }
    }
}

// .yellow {
//     background-color: yellow;
// }